<div class="row justify-content-center">
  <div class="col-8">
    <mat-dialog-content [formGroup]="editForm" #form>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 id="jhi-ponude-heading" data-cy="PonudeCreateUpdateHeading">Create or edit a Ponude</h2>

        <div>
          <jhi-alert-error></jhi-alert-error>

          <mat-form-field>
            <input matInput placeholder="id" formControlName="id" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="naziv" formControlName="naziv" />
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
      <button class="mat-raised-button mat-primary" (click)="confirmAdd()">Add</button>
    </mat-dialog-actions>
  </div>
</div>
