
<div class="row justify-content-center">
  <div class="col-8">

    <mat-dialog-content [formGroup]="editForm" #form>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h2 id="jhi-ponude-heading" data-cy="PonudeCreateUpdateHeading">Create or edit a Ponude</h2>

        <div>
          <jhi-alert-error></jhi-alert-error>


          <mat-form-field>
            <input matInput placeholder="ime" formControlName="naziv" />
          </mat-form-field>



          <div class="form-group">
            <label class="form-control-label" for="field_ponudjaci">Ponudjaci</label>
            <select class="form-control" id="field_ponudjaci" data-cy="ponudjaci" name="ponudjaci" formControlName="ponudjaci">
              <option [ngValue]="null"></option>
              <option
                [ngValue]="ponudjaciOption.id === editForm.get('ponudjaci')!.value?.id ? editForm.get('ponudjaci')!.value : ponudjaciOption"
                *ngFor="let ponudjaciOption of ponudjacisCollection; trackBy: trackPonudjaciById"
              >
                {{ ponudjaciOption.ime }}
              </option>
            </select>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary" (click)="save" >Save</button>
    </mat-dialog-actions>






  </div>
</div>
