<h2 mat-dialog-title>Ugovor</h2>
<mat-dialog-content class="mat-typography">

  <jhi-alert-error></jhi-alert-error>
  <form name="editForm" role="form" novalidate [formGroup]="editForm">
    <mat-form-field color="accent">
      <input matInput placeholder="sifra postupka" formControlName="sifraPostupka" name="sifraPostupka" />
      <div
        *ngIf="editForm.get('sifraPostupka')!.invalid && (editForm.get('sifraPostupka')!.dirty || editForm.get('sifraPostupka')!.touched)"
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('sifraPostupka')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          Obavezno polje.
        </small>
      </div>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="sifra ponude" formControlName="sifraPonude" name="sifraPonude" />
      <div *ngIf="editForm.get('sifraPonude')!.invalid && (editForm.get('sifraPonude')!.dirty || editForm.get('sifraPonude')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('sifraPonude')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          Obavezno polje.
        </small>
      </div>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="sifraPonudjaca" formControlName="sifraPonudjaca" name="sifraPonudjaca" />
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Broj Ugovora" formControlName="brojUgovora" name="brojUgovora" />
      <div *ngIf="editForm.get('brojUgovora')!.invalid && (editForm.get('brojUgovora')!.dirty || editForm.get('brojUgovora')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('brojUgovora')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          Obavezno polje.
        </small>
      </div>
    </mat-form-field>

    <div class="form-group">
      <div class="input-group">
        <input
          id="datumOdluke"
          data-cy="datumOdluke"
          placeholder="Datum Odluke"
          type="text"
          name="datumOdluke"
          ngbDatepicker
          #datumOdlukeDp="ngbDatepicker"
          formControlName="datumOdluke"
        />
        <span class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="datumOdlukeDp.toggle()">
            <fa-icon icon="calendar-alt" size="1x"></fa-icon>
          </button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <mat-form-field>
          <input
            id="datumUgovora"
            matInput
            data-cy="datumUgovora"
            placeholder="Datum Odluke"
            type="text"
            name="datumUgovora"
            ngbDatepicker
            #datumUgovoraDp="ngbDatepicker"
            formControlName="datumUgovora"
          />

        </mat-form-field>

        <span class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="datumUgovoraDp.toggle()">
            <fa-icon icon="calendar-alt" size="1x"></fa-icon>
          </button>
        </span>
      </div>
    </div>
    <mat-form-field color="accent">
      <input matInput placeholder="Broj Odluke" formControlName="brojOdluke" name="brojOdluke" />
      <div *ngIf="editForm.get('brojOdluke')!.invalid && (editForm.get('brojOdluke')!.dirty || editForm.get('brojOdluke')!.touched)">
        <small class="form-text text-danger" *ngIf="editForm.get('brojOdluke')?.errors?.required" jhiTranslate="entity.validation.required">
          Obavezno polje.
        </small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="iznos Ugovora Bez PDV" formControlName="iznosUgovoraBezPdf" name="iznosUgovoraBezPdf" />
      <div
        *ngIf="
          editForm.get('iznosUgovoraBezPdf')!.invalid &&
          (editForm.get('iznosUgovoraBezPdf')!.dirty || editForm.get('iznosUgovoraBezPdf')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('iznosUgovoraBezPdf')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          Obavezno polje.
        </small>
      </div>
    </mat-form-field>
    <!--    <mat-form-field color="accent">-->
    <!--      <input matInput placeholder="sifraPonudjaca" formControlName="sifraPonudjaca" name="sifraPonudjaca" />-->
    <!--    </mat-form-field>-->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Odustani</button>
  <button

    mat-raised-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Sačuvaj
  </button>
  <button

    mat-raised-button
    color="primary"
    (click)="confirmAdd()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Dodaj
  </button>
</mat-dialog-actions>
